.trip-card-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.trip-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
}