.header {
    color: #FFF;
    position: fixed;
    width: 100%;
    top: 20px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-logo {
   font-size: 36px;
   text-decoration: none;
   color: #FFF;
}