.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 40%;
    position: relative;
    
}

.search {
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 20px 6%;
    overflow: hidden;
    outline: none;
    height: 100%;
    font-weight: 600;
    font-size: 16px;
    color: #1d1d1d;
    width: 100%;
   
}

.search:hover {
    border-color: #9c9c9c;
    transition: all 0.5s ease-in;
    box-shadow: 0 0 24px 2px rgba(0, 0, 0, .2);
}

.search:focus {
    border-color: #44b50c;
    transition: all 0.5s ease-in;
    box-shadow: 0 0 24px 2px rgba(0, 0, 0, .2);
}

.iconWrap {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
}

.opacity {
    opacity: .5;
}

.notopacity {
    opacity: 0;
}

@media screen and (max-width: 640px) {
    .wrap {
        width: 70%;
     }

     .search {
        padding: 10px 10%;
     }
     
  }

  @media screen and (min-width: 641px) and (max-width: 992px){
    .wrap {
        width: 70%;
     }    
  }