*, ::after, ::before {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  padding:  0 20px;
  flex: 1 0 auto;
}

.container {
  max-width: 1136px;
  margin: 0 auto;
}

.header-btn{
  color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    font-size: 15px;
    line-height: 24px;
    margin-left: 8px;
    outline: none;
    padding: 0 16px;
    text-transform: uppercase;
    height: 42px;
    transition: background-color .3s ease-in-out;
}

.header-btn:hover {
   background-color: rgba(29, 29, 29, .8);
}

.slick-disabled:before {
  display: none;
}

.slick-disabled {
  opacity: 0;
}

@media screen and (max-width: 420px) {
  .header-btn {
      font-size: 12px;
      line-height: 18px;
      padding: 0 12px;
      height: 32px;
   }
   
}

@media screen and (min-width: 421px) and (max-width: 640px) {
  .header-btn {
      font-size: 14px;
      line-height: 18px;
      padding: 0 12px;
      height: 32px;
      min-width: 70px;
  }
}


