*, ::after, ::before {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;

}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding:  0 20px;
  flex: 1 0 auto;
}

.container {
  max-width: 1136px;
  margin: 0 auto;
}


