.sort-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-btn {
    background-color: rgba(29, 29, 29, .48);
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.sort-btn-arrow {
    width: 25px;
    height: 20px;
}

.list-container {
    position: relative;
}

.sort-list {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
    top: 10px;
    left: 50%;
    transform: translateX(-75%);
    list-style-type: none;
    color: #1D1D1D;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 24px 2px rgba(0, 0, 0, .08);
    font-weight: 500;
    padding: 0;
    overflow: hidden;
}

.list-container::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 22px;
    transform: translateX(75%);
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotateZ(45deg);
    transition: opacity .2s ease;
}

.sort-list-item {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 2;
    overflow: hidden;
    padding: 8px 16px;
}

.sort-list-item:hover {
    background-color: #f4f4f4;
}

.sort-list-item::first-letter {
    text-transform: uppercase;
}

.checked {
    border: 1px solid #f4f4f4;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .08);
}