.item {
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
    color: #1d1d1d;
    display: flex;
    flex-direction: column;
    height: 340px;
    overflow: hidden;
    margin: 5px;
}
.checked {
    border: 1px solid #44b50c;
}

.itemInfo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 16px;
    height: calc(100% - 216px);
}

.itemCity {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    overflow: hidden;
}

.itemDates {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #767676;
}

/* .loaderCard {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.cardLoader {
    opacity: .4;
    margin-left: 5px;
}

.cardDelete {
    color: #767676;
    cursor: pointer;
}