.trip-item {
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
    color: #1d1d1d;
    display: flex;
    flex-direction: column;
    height: 340px;
    overflow: hidden;
    margin: 5px;
}
.trip-item--checked {
    border: 1px solid #44b50c;
}

.trip-item-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 16px;
    height: calc(100% - 216px);
}

.trip-item-city {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    overflow: hidden;
}

.trip-item-dates {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #767676;
}

.loader-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-loader {
    opacity: .4;
    margin-left: 5px;
}