.sliderContainer {
    height: 350px;
    width: 100%;
    position: relative;
    
}

.window {
    height: 100%;
    width: 99.95%;
    overflow: hidden;
   
}

.allCardContainer {
    height: 100%;
    display: flex;
    transition: transform .3s linear;
}